<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Barne's Book Club</title>
    {% load static %}
      <link rel="stylesheet" href="{% static "bootstrap.css" %}">
      <link rel="stylesheet" href="{% static "bootstrap.min.css" %}">
      <!-- style css -->
      <link rel="stylesheet" href="{% static "style11.css" %}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{% static "responsive.css"%}">
      <!-- fevicon -->
      <link rel="icon" href="{% static "img/fevicon.png" %}" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{% static "jquery.mCustomScrollbar.min.css" %}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">


      <link rel="stylesheet" href="{% static "style.css" %}">
      <link rel="stylesheet" href="{% static "js/style.js" %}">
</head>
<body>

<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="{% static "img/bookclub.jpg" %}"
          class="img-fluid" alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form action="/insertbc" method="post">
            {% csrf_token %}
          <!-- Email input -->
          <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name" name="name" required>
          </div>
          <div class="form-group mt-2">
                        <select id="gender" name="gender" class="form-control" required>
                            <option selected>select gender</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="rns">Rather not say</option>
                        </select>
          </div>
          <div class="form-group">
                        <input type="number" class="form-control  mt-2" placeholder="Age" name="age" required>

          </div>
          <div class="form-group">
                        <input type="email" class="form-control  mt-2" placeholder="Email" name="email" required>
          </div>
          <div class="form-group">
                        <input type="number" class="form-control  mt-2" placeholder="Phone" name="phone" required>

          </div>




            <a href="{% url 'bcschedule' %}"><button type="submit" class="btn btn-primary btn-lg btn-block">Join</button></a>



        </form>
      </div>
    </div>
  </div>
</section>
</body>

</html>