<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Barne's Club- Home</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
       {% load static %}
      <link rel="stylesheet" href="{% static "bootstrap.min.css" %}">
      <!-- style css -->
      <link rel="stylesheet" href="{% static "style11.css" %}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{% static "responsive.css"%}">
      <!-- fevicon -->
      <link rel="icon" href="{% static "img/fevicon.png" %}" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{% static "jquery.mCustomScrollbar.min.css" %}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="{% static "img/loading.gif" %}" alt="#"/></div>
      </div>
      <!-- end loader -->
      <!-- header -->
      <header class="full_bg">
         <!-- header inner -->
         <div class="header">
            <div class="header_top">
               <div class="container">
                  <div class="row">
                     <div class="col-md-3">
                        <ul class="contat_infoma">
                           <li><i class="fa fa-phone" aria-hidden="true"></i> Call : +01 12345678909</li>
                        </ul>
                     </div>
                     <div class="col-md-6">
                        <ul class="social_icon_top text_align_center  ">
                           <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                           <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                           <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                           <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                     </div>
                     <div class="col-md-3">
                        <ul class="contat_infoma text_align_right">
                           <li><a href="Javascript:void(0)"> <i class="fa fa-phone" aria-hidden="true"></i> demo@gmail.com</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="header_bottom">
                        <div class="row">
                           <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                              <div class="full">
                                 <div class="center-desk">
                                    <div class="logo">
                                       <a href="index%20(copy).html">BARNE'S CLUB</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                              <nav class="navigation navbar navbar-expand-md navbar-dark ">
                                 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                                 <span class="navbar-toggler-icon"></span>
                                 </button>
                                 <div class="collapse navbar-collapse" id="navbarsExample04">
                                    <ul class="navbar-nav mr-auto">
                                       <li class="nav-item active">
                                          <a class="nav-link" href="index%20(copy).html">Home</a>
                                       </li>
                                       <li class="nav-item">
                                          <a class="nav-link" href="about.html">About</a>
                                       </li>
                                       <li class="nav-item">
                                          <a class="nav-link" href="project.html">Services</a>
                                       </li>
                                       <li class="nav-item">
                                          <a class="nav-link" href="staff.html">fOUNDERS</a>
                                       </li>
                                       <li class="nav-item">
                                          <a class="nav-link" href="contact.html">Contact Us</a>
                                       </li>
                                    </ul>
                                 </div>
                                 <ul class="search">
                                    <li><a href="Javascript:void(0)"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                                 </ul>
                              </nav>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- end header inner -->
         <!-- end header -->
         <!-- banner -->
         <section class="banner_main">
            <div id="myCarousel" class="carousel slide banner" data-ride="carousel">

               <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                  <li data-target="#myCarousel" data-slide-to="2"></li>
               </ol>
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container">
                        <div class="carousel-caption  banner_po">
                           <div class="row">
                              <div class="col-md-9">
                                 <div class="build_box">
                                    <h1>A bibliophile's paradise.</h1>
                                    <p>Join the largest community of readers in the country.</p>
                                    <a class="read_more conatct_btn" href="{% url 'login' %}" role="button">Register</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="container">
                        <div class="carousel-caption banner_po">
                           <div class="row">
                              <div class="col-md-9">
                                 <div class="build_box">
                                    <h1>Join our book club!</h1>
                                    <p>Discuss a new book every week with other club members.</p>
                                    <a class="read_more conatct_btn" href="{% url 'login' %}" role="button">Sign In</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="container">
                        <div class="carousel-caption banner_po">
                           <div class="row">
                              <div class="col-md-9">
                                 <div class="build_box">
                                    <h1>Become a Platinum Member to enjoy special privileges.</h1>
                                    <p>Enjoy a freely issued book haul every month.</p>
                                    <a class="read_more conatct_btn" href="contact.html" role="button">Contact Us</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
               <i class="fa fa-angle-left" aria-hidden="true"></i>
               <span class="sr-only">Previous</span>
               </a>
               <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
               <i class="fa fa-angle-right" aria-hidden="true"></i>
               <span class="sr-only">Next</span>
               </a>
            </div>
         </section>
      </header>
      <!-- end banner -->
      <!-- three_box -->
      <div class="three_box">
         <div class="container">
            <div class="row">
               <div class="col-md-3">
                  <div id="text_hover" class="const text_align_center">
                     <i><img src="{% static "img/sil.png" %}" alt="#"/></i>
                     <span>Become a Member</span>
                  </div>
               </div>
               <div class="col-md-3">
                  <div id="text_hover" class="const text_align_center">
                     <i><img src="{% static "img/pl.jpg" %}" alt="#"/></i>
                     <span>Become a PLATINUM member</span>
                  </div>
               </div>
               <div class="col-md-3">
                  <div id="text_hover" class="const text_align_center">
                     <i><img src="{% static "img/buy.jpg" %}" alt="#"/></i>
                     <span>Shop in the largest online bookstore.</span>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end three_box -->
      <!-- about -->
      <div class="about">
         <div class="container-fluid">
            <div class="row d_flex">
               <div class="col-md-7">
                  <div class="titlepage">
                     <h2>About Barne's</h2>
                     <span>We are a company which prides itself in providing reading resources to small communities. We are branched out in over 100 outlets, each one equipped with a library, a children reading area, a book store, 5 book club lounges and 2 platinum member lounges. We also have the largest collection of paperbacks, audio books and ebooks up for sale on our online platforms. Our stations are open every day and all are welcome.   </span>
                     <a class="read_more" href="about.html"> Read More</a>
                  </div>
               </div>
               <div class="col-md-5">
                  <div class="about_img">
                     <figure><img src="{% static "img/bie.jpg" %}" alt="#"/></figure>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end about -->
      <!-- projects -->
      <div class="projects">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Our Services</h2>
                     <span>We offer a wide range of services that are compliant with any budget and flexible payment plans.</span>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div id="proj" class="carousel slide projects_ban" data-ride="carousel">
                     <ol class="carousel-indicators">
                        <li data-target="#proj" data-slide-to="0" class="active"></li>
                        <li data-target="#proj" data-slide-to="1"></li>
                        <li data-target="#proj" data-slide-to="2"></li>
                     </ol>
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                           <div class="container-fluid">
                              <div class="carousel-caption relative3">
                                 <div class="row">
                                    <div class="col-md-4">
                                       <div class="project">
                                          <div class="project_img">
                                             <figure><img src="{% static "img/sm.jpg" %}" alt="#"/></figure>
                                          </div>
                                          <div id="pro_ho" class="project_text">
                                             <h3>Shop in Our<br>Bookstore</h3>
                                             <p>We have a variety of books to fit any age,taste & genre. Daily sales to favour your budget.</p>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-4">
                                       <div class="project">
                                          <div class="project_img">
                                             <figure><img src="{% static "img/bc.jpg" %}" alt="#"/></figure>
                                          </div>
                                          <div id="pro_ho" class="project_text">
                                             <h3>Genre Based<br>Book Clubs</h3>
                                             <p>We have registered a total of 22 book clubs based on genre. Members meet up at their own convenience to discuss a different book every week. </p>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-4">
                                       <div class="project">
                                          <div class="project_img">
                                             <figure><img src="{% static "img/pt.jpg" %}" alt="#"/></figure>
                                          </div>
                                          <div id="pro_ho" class="project_text">
                                             <h3>Platinum Membership<br></h3>
                                             <p>This grants you a discount on every book purchase. Platinum members are also granted special edition books at discounted prices. Furthermore, Platinum Members receive a free, specialised book haul evry month.</p>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="container-fluid">
                              <div class="carousel-caption relative3">
                                 <div class="row">
                                    <div class="col-md-4">
                                       <div class="project">
                                          <div class="project_img">
                                             <figure><img src="{% static "img/sp.jpg" %}" alt="#"/></figure>
                                          </div>
                                          <div id="pro_ho" class="project_text">
                                             <h3>Shop from our<br>online store.</h3>
                                             <p>Purchase books from our website and have them delivered right to your doorstep. We have an express delivery service which ensures customer satisfaction through our one-day shipping policy.</p>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-4">
                                       <div class="project">
                                          <div class="project_img">
                                             <figure><img src="{% static "img/kd.jpg" %}" alt="#"/></figure>
                                          </div>
                                          <div id="pro_ho" class="project_text">
                                             <h3>Register your<br>child into our junior readers programs.</h3>
                                             <p>This offers children an opportunity to enjoy reading in a fun, regulated environment under close supervision.</p>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-4">
                                       <div class="project">
                                          <div class="project_img">
                                             <figure><img src="{% static "img/tr.jpg" %}" alt="#"/></figure>
                                          </div>
                                          <div id="pro_ho" class="project_text">
                                             <h3>Receive awards<br> from our Barnes awards club.</h3>
                                             <p>Long term members can receive Barne Points every month which they can redeem for a book or other book accessories.</p>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div
                        </div>
                        <a class="carousel-control-prev" href="#proj" role="button" data-slide="prev">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#proj" role="button" data-slide="next">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        <span class="sr-only">Next</span>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end projects -->
      <!-- choose -->
      <div class="choose">
         <div class="container">
            <div class="row">
               <div class="col-lg-6 col-md-7 ">
                  <div class="titlepage">
                     <h2 style="color: white;">Why Choose Us</h2>
                     <p style="color: white;"> <strong>  We think providing exceptional customer service is our USP, our main strength. We take pride in providing outstanding services to our clients. We know that our customers are important for us and hence we do not leave any stone unturned in helping, guiding and providing the best possible solutions & after sales services and support to our clients. Because we’ve been there and done it. When you choose us, you’ll feel the benefit of 15 years’ experience of providing literacy to the community.</strong></p>
                     <div class="award">
                        <div id="awa_ho" class="award_icon text_align_center">
                           <i><img src="{% static "img/ch1.png" %}" alt="#"/>
                           </i>
                           <strong style="color: white;">client satisfaction</strong>
                        </div>
                        <div id="awa_ho" class="award_icon text_align_center">
                           <i><img src="{% static "img/ch2.png" %}" alt="#"/></i>
                           <strong style="color: white;">award</strong>
                        </div>
                        <div id="awa_ho" class="award_icon text_align_center">
                           <i><img src="{% static "img/ch3.png" %}" alt="#"/></i>
                           <strong style="color: white;">Trustable</strong>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end choose -->
      <!-- staff -->
      <div class="staff_main">
         <div class="container_staff">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Our Founders</h2>
                     <span>These are the proprietors of the Barne's Club.</span>
                  </div>
               </div>
               <div class="col-md-3 col-sm-6">
                  <div class="staff">
                     <div class="man">
                        <i><img src="{% static "img/mr.jpg" %}" alt="#"/></i>
                     </div>
                     <div class="social_icon_main">
                        <h4>Sir.Alex Maina</h4>
                        <ul class="social_icon_staff text_align_center  ">
                           <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                           <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                           <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                           <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-md-3 col-sm-6">
                  <div class="staff">
                     <div class="man">
                        <i><img src="{% static "img/bl.jpg" %}" alt="#"/></i>
                     </div>
                     <div class="social_icon_main">
                        <h4>Ms. Shuri Okoye</h4>
                        <ul class="social_icon_staff text_align_center  ">
                           <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                           <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                           <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                           <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-md-3 col-sm-6">
                  <div class="staff">
                     <div class="man">
                        <i><img src="{% static "img/yan.jpg" %}" alt="#"/></i>
                     </div>
                     <div class="social_icon_main">
                        <h4>Ms. Yan Krukau</h4>
                        <ul class="social_icon_staff text_align_center  ">
                           <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                           <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                           <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                           <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-md-3 col-sm-6">
                  <div class="staff">
                     <div class="man">
                        <i><img src="{% static "img/au.jpg" %}" alt="#"/></i>
                     </div>
                     <div class="social_icon_main">
                        <h4>Ms.  August Rich</h4>
                        <ul class="social_icon_staff text_align_center  ">
                           <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                           <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                           <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                           <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-md-12">
                  <a class="read_more" href="Javascript:void(0)"> See More</a>
               </div>
            </div>
         </div>
      </div>
      <!-- end staff -->
      <!--  contact -->
      <div class="contact">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Contact Us</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-6 padding_right0">
                  <form id="request" class="main_form">
                     <div class="row">
                        <div class="col-md-12 ">
                           <input class="contactus" placeholder="Name" type="type" name="Name"> 
                        </div>
                        <div class="col-md-12">
                           <input class="contactus" placeholder="Phone" type="type" name="Phone">                          
                        </div>
                        <div class="col-md-12">
                           <input class="contactus" placeholder="Email" type="type" name="Email"> 
                        </div>
                        <div class="col-md-12">
                           <textarea class="textarea" placeholder="Message" type="type" Message="Name">Message</textarea>
                        </div>
                        <div class="col-md-12">
                           <button class="send_btn">Send</button>
                        </div>
                     </div>
                  </form>
               </div>
               <div class="col-md-6 padding_left0">
                  <div class="map_main">
                     <div class="map-responsive">
                        <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&amp;q=Eiffel+Tower+Paris+France" width="600" height="463" frameborder="0" style="border:0; width: 100%;" allowfullscreen=""></iframe>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end contact -->
      <div class="truck">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-6 jkhgkj">
                  <div class="truck_img1">
                     <img src="{% static "img/buy.jpg" %} " alt="#"/>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="truck_img1">
                     <img src="{% static "img/pl.jpg" %}" alt="#"/>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- clients -->
      <div class="clients">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Client's Words</h2>
                     <span>Being a member of Barne's Club has been nothing short of an amazing experience.</span>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-8 offset-md-2">
                  <div class="testimo_ban_bg">
                     <div id="testimo" class="carousel slide testimo_ban" data-ride="carousel">
                        <ol class="carousel-indicators">
                           <li data-target="#testimo" data-slide-to="0" class="active"></li>
                           <li data-target="#testimo" data-slide-to="1"></li>
                           <li data-target="#testimo" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                           <div class="carousel-item active">
                              <div class="container parile0">
                                 <div class="carousel-caption relative2">
                                    <div class="row d_flex">
                                       <div class="col-md-12">
                                          <i><img class="qusright" src="{% static "img/t.png" %}" alt="#"/><img src="{% static "img/au.jpg" %}" alt="#"/><img class="qusleft" src="{% static "img/t.png" %}" alt="#"/></i>
                                          <div class="consect">
                                             <span>A word from our founder.</span>
                                             <p> When we first started Barne's club, the modest goal was to bring the community together and promote literacy. That vision still lies at the core of what we do only with a greater outreach.</p>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="carousel-item">
                              <div class="container parile0">
                                 <div class="carousel-caption relative2">
                                    <div class="row d_flex">
                                       <div class="col-md-12">
                                          <i><img class="qusright" src="{% static "img/t.png" %}" alt="#"/><img src="{% static "img/mr.jpg" %}" alt="#"/><img class="qusleft" src="{% static "img/t.png" %}" alt="#"/></i>
                                          <div class="consect">
                                             <span>A word from the founder.</span>
                                             <p>When we first started Barne's club, the modest goal was to bring the community together and promote literacy. That vision still lies at the core of what we do only with a greater outreach.</p>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="carousel-item">
                              <div class="container parile0">
                                 <div class="carousel-caption relative2">
                                    <div class="row d_flex">
                                       <div class="col-md-12">
                                          <i><img class="qusright" src="{% static "img/t.png" %}" alt="#"/><img src="{% static "img/yan.jpg" %}" alt="#"/><img class="qusleft" src="{% static "img/t.png" %}" alt="#"/></i>
                                          <div class="consect">
                                             <span>Word from our founder.</span>
                                             <p> When we first started Barne's club, the modest goal was to bring the community together and promote literacy. That vision still lies at the core of what we do only with a greater outreach.</p>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>

      <!-- end clients -->
      <!--  footer -->
      <footer>
         <div class="footer">
            <div class="container">
               <div class="row">
                  <div class=" col-lg-3 col-md-6">
                     <a class="logo_bottom"><img src="{% static "img/barnes.png" %}" alt="#"/></a>
                     <p class="many">

About Barne's
We are a company which prides itself in providing reading resources to small communities.
                     </p>
                  </div>
                  <div class="col-lg-2 offset-lg-1 col-md-6">
                     <h3>QUICK LINKS</h3>
                     <ul class="link_menu">
                        <li><a href="registration.html">Home</a></li>
                        <li><a href="about.html"> About</a></li>
                        <li><a href="project.html">Services</a></li>
                        <li><a href="staff.html">Founders</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                     </ul>
                  </div>
                  <div class=" col-lg-3 col-md-6">
                     <h3>INSTAGRAM FEEDS</h3>
                     <ul class="insta text_align_left">
                        <li><img src="{% static "img/bie.jpg" %}" alt="#"/></li>
                        <li><img src="{% static "img/lib.jpg" %}" alt="#"/></li>
                        <li><img src="{% static "img/bookstore.jpg" %}" alt="#"/></li>
                        <li><img src="{% static "img/why.jpg" %}" alt="#"/></li>
                     </ul>
                  </div>
                  <div class=" col-lg-3 col-md-6 ">
                     <h3>SIGN UP TO OUR NEWSLETTER </h3>
                     <form class="bottom_form">
                        <input class="enter" placeholder="Enter your email" type="text" name="Enter your email">
                        <button class="sub_btn">Sign Up</button>
                     </form>
                  </div>
               </div>
            </div>
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-8 offset-md-2">
                        <p>© 2023 All Rights Reserved. Design by <a href="https://html.design/"> Free Html Templates</a></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="{% static "js/jquery.min.js" %}"></script>
      <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
      <script src="{% static "js/jquery-3.0.0.min.js" %}"></script>
      <!-- sidebar -->
      <script src="{% static "js/jquery.mCustomScrollbar.concat.min.js" %}"></script>
      <script src="{% static "js/custom.js" %}"></script>
   </body>
</html>